---
permalink: /
layout: layouts/base.njk
hideHeader: true
bodyClass: home
---
{%- set items = [] -%}
{%- for p in collections.punks -%}
  {%- set _ = items.push({ num: p.data.id | string, href: "/" + (p.data.id | string) + "/", thumb: "/images/punks/" + (p.data.id | string) + ".svg" }) -%}
{%- endfor -%}

<section class="home-hero">
  <header class="home-hero__header">
    <a class="home-hero__logo" href="/about/">
      <img class="home-hero__logo-img home-hero__logo-img--default" src="/images/logos/museumpunks.gif" alt="Museum Punks">
      <img class="home-hero__logo-img home-hero__logo-img--hover" src="/images/logos/museumpunks-inv.gif" alt="">
    </a>
  </header>
  <div class="mosaic">
    <div class="mosaic__grid" data-mosaic-items='{{ items | dump | safe }}'></div>
  </div>
</section>

<script src="/js/mosaic.js" defer></script>
